.learning-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #00353f;
}

.word-to-translate {
  font-size: 50px;
  margin-bottom: 5px;
}

.translate-word {
  font-weight: 400;
}

.correct-counts {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.guess-form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 25px;
}

.guess-fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: none;
  border-top-color: #430c05;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 25px;
}

.guess-label {
  text-align: center;
  font-family: 'Baloo 2', cursive;  
  margin-bottom: 10px;
  color: #430c05;
}

#learn-guess-input {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #430c05;
  color: #430c05;
  height: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: 'Baloo 2', cursive;
}

.submit-guess-button {
  margin: auto;
  width: 65%;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #430c05;
  background-color: #ffbf66;
  color: #430c05;
  font-family: 'Baloo 2', cursive;  
  padding: 5px 10px;
  font-size: 16px;
}

.try-another-button {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #430c05;
  background-color: #ffbf66;
  color: #430c05;
  font-family: 'Baloo 2', cursive;  
  font-size: 16px;
  padding: 5px 10px;
  width: 50%;
}

.submit-guess-button:hover,
.try-another-button:hover {
  cursor: pointer;
  border-style: solid;
  border-color: #430c05;
  background-color: #430c05;
  color: #ffbf66;
  font-family: 'Baloo 2', cursive;
}

.count-span {
  font-family: 'Baloo 2', cursive;  
  font-size: small;
  color: #430c05;
}

.DisplayFeedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DisplayFeedback p {
  font-family: 'Baloo 2', cursive;  
  font-size: 15px;
  max-width: 80%;
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .DisplayFeedback p {
    max-width: 100%;
  }
}
